<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
      <servlet-name>VerificationCodeServlet</servlet-name>
      <servlet-class>com.matas.servlet.VerificationCodeServlet</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>GifCodeServlet</servlet-name>
      <servlet-class>com.matas.servlet.GifCodeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
         <servlet-name>VerificationCodeServlet</servlet-name>
         <url-pattern>/vcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
         <servlet-name>GifCodeServlet</servlet-name>
         <url-pattern>/gif</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
		<servlet-name>kaptcha</servlet-name>
		<servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
		<init-param>
			<description>图片边框，合法值：yes，no</description>
			<param-name>kaptcha.border</param-name>
			<param-value>no</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.background.clear.from</param-name>
			<param-value>white</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.textproducer.char.length</param-name>
			<param-value>4</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.image.width</param-name>
			<param-value>160</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.image.height</param-name>
			<param-value>40</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.textproducer.char.space</param-name>
			<param-value>5</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.textproducer.char.string</param-name>
			<param-value>ABCDEFGHJKLMNPQRSTUVWXYZ2345678</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>kaptcha</servlet-name>
		<url-pattern>/randomcode.jpg</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>CalcKaptchaServlet</servlet-name>
		<servlet-class>com.matas.servlet.CalcKaptchaServlet</servlet-class>
		<init-param>
			<description>图片边框，合法值：yes，no</description>
			<param-name>kaptcha.border</param-name>
			<param-value>no</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.background.clear.from</param-name>
			<param-value>white</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.textproducer.char.space</param-name>
			<param-value>10</param-value>
		</init-param>

		<init-param>
			<description>干扰实现类</description>
			<param-name>kaptcha.noise.impl</param-name>
			<param-value>
                com.google.code.kaptcha.impl.NoNoise
               <!--  com.google.code.kaptcha.impl.DefaultNoise -->
            </param-value>
		</init-param>
		<init-param>
			<description>
                干扰颜色，合法值： r,g,b 或者 white,black,blue.
            </description>
			<param-name>kaptcha.noise.color</param-name>
			<param-value>black</param-value>
		</init-param>
		<init-param>
			<description>
                图片样式： 水纹com.google.code.kaptcha.impl.WaterRipple
                鱼眼com.google.code.kaptcha.impl.FishEyeGimpy
                阴影com.google.code.kaptcha.impl.ShadowGimpy
            </description>
			<param-name>kaptcha.obscurificator.impl</param-name>
			<param-value>
                 com.google.code.kaptcha.impl.WaterRipple
            </param-value>
		</init-param>

		<init-param>
			<description>
                字体颜色，合法值： r,g,b 或者 white,black,blue.
            </description>
			<param-name>kaptcha.textproducer.font.color</param-name>
			<param-value>124,212,121</param-value>
		</init-param>
		
		<init-param>
			<description>背景实现类</description>
			<param-name>kaptcha.background.impl</param-name>
			<param-value>
                com.google.code.kaptcha.impl.DefaultBackground
            </param-value>
		</init-param>
		<init-param>
			<description>背景颜色渐变，开始颜色</description>
			<param-name>kaptcha.background.clear.from</param-name>
			<param-value>white</param-value>
		</init-param>
		<init-param>
			<description>背景颜色渐变，结束颜色</description>
			<param-name>kaptcha.background.clear.to</param-name>
			<param-value>white</param-value>
		</init-param>
		<init-param>
			<description>文字渲染器</description>
			<param-name>kaptcha.word.impl</param-name>
			<param-value>
                com.google.code.kaptcha.text.impl.DefaultWordRenderer
            </param-value>
		</init-param>
		<init-param>
			<description>
                session中存放验证码的key键
            </description>
			<param-name>kaptcha.session.key</param-name>
			<param-value>KAPTCHA_SESSION_KEY</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>CalcKaptchaServlet</servlet-name>
		<url-pattern>/calc.jpg</url-pattern>
	</servlet-mapping>
  
  
</web-app>
